.informacoes{
    height: 7vh;
    width: 30%;
    text-align: center;
    display: grid;
    align-items: center;
    font-size: 1.2em;
    border-radius: 10px;
    margin-bottom: 0.5em;
   background-image: radial-gradient( circle 993px at 0.5% 50.5%,  rgba(94, 126, 112, 0.37) 0%, rgb(134, 134, 134) 100.2% );
    font-family: 'Poppins', sans-serif;
}
.informacoes-completa{
    display: grid;
    align-items: center;
    justify-items: center;

}
.botoes{
    margin-left: 43%;

}
.periodo-relatorio, .titulorelatorio{

    margin-left: 2em;
    font-family: 'Poppins', sans-serif;

}
.titulo-relatorio{
    font-size: 1.6em;

}
.periodo-relatorio{
    border-bottom: 0.2em solid rgb(115, 118, 115);
}
.informacoes2{
    font-size: 1.1em;
    margin-left: 1em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}