.corpo-agenda{
    display: flex;
}

.container-lateral-agenda{
    margin-top: 1vh;
    margin-left: 3%;
    height: 80vh;
    width: 40%;
    display: grid;
}

.calendario{
    height: 30vh;
    margin-top: 2vh;    
}

.agenda-config{
    background-color: white;
    height: 46vh;
    margin-top: 2vh;
    display: grid;
    text-align: center; 
}

.agenda-config-cabeçalho{
    height: 10vh;
    border-bottom: 0.2em solid gray;
    font-size: 1em;
}

.agenda-config-conteudo{
    height: 36vh;
}

.agenda-config-conteudo div{
    padding: 1%;
    font-size: 1.25em;
}

.agenda-config-conteudo div:hover{
    background-color: rgba(19, 152, 7, 0.68);
    cursor: pointer;
}
