.container-consulta{
    background-color: rgba(182, 182, 182, 0.621);
    position: fixed;
    width: 80%;
    height: 100vh;
}

.corpo-consulta{
    background-color: white;
    margin-top: 21vh;
    margin-left: 10%;
    width: 80%;
    height: 70vh;
    border: 2px solid black;
    border-radius: 10px;
    display: grid;
}

.corpo-consulta-titulo{
    height: 7vh;
    font-size: 24px;
    text-align: center;
    padding-top: 3vh;
    border-bottom: 2px solid gray;
}

.corpo-consulta-conteudo{
    height: 60vh;
    width: 100%;
    display: grid;
}

.corpo-consulta-linha{
    height: 10vh;
    display: flex;
}

.corpo-consulta-linha label{
    margin-top: 2.5vh;
    margin-left: 5%;
    height: 5vh;
    width: 10%;
    font-size: 20px;
}

.corpo-consulta-linha input{
    margin-top: 2.5vh;
    width: 30%;
    height: 4vh;
    text-align: center;
    font-size: 18px;
    border-radius: 5px;
}

.corpo-consulta-linha-nome{
    height: 10vh;
    display: flex;
}

.corpo-consulta-linha-nome label{
    margin-left: 5%;
    margin-top: 2.5vh;
    height: 5vh;
    width: 20%;
    font-size: 20px;
}

.corpo-consulta-linha-nome input{
    margin-top: 2.5vh;
    width: 50%;
    height: 4vh;
    font-size: 18px;
    border-radius: 5px;
}

.corpo-consulta-linha-botoes{
    height: 10vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.corpo-consulta-linha-botoes button{
    border-radius: 10px;
    margin-right: 2.5%;
    width: 20%;
    height: 8vh;
    font-size: 20px;
    cursor: pointer;
}

#botao-excluir{
    background-color: rgb(255, 22, 22);
}

#botao-salvar{
    background-color: green;
}