.corpo-financas{
    background-color: white;
    margin-top: 1vh;
    margin-left: 5%;
    border: 2px solid;
    border-radius: 10px;
    width: 90%;
    height: 80vh;
    display: grid;
    align-items: center;
    justify-items: center;
}

.caixa-financas{
    height: 12vh;
    width: 30%;
    text-align: center;
    display: grid;
    align-items: center;
    font-size: 1.6em;
    border: 1px solid rgb(93, 242, 255);
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.5s;

    background-color: #018b12;
    background-image: linear-gradient(43deg, #018b12 0%, #f2ff66 46%, #09c102 100%);
    
}
.caixa-financas:hover{
    -webkit-transform: scale(1.2);
    transform: scale(1.1);
}