.corpo-relatorio{
    margin-top: 1vh;
    margin-left: 5%;
    border: 2px solid;
    border-radius: 10px;
    width: 90%;
    height: 80vh;
    display: grid;
    align-items: center;
    justify-items: center;
    background-color: #fefefe;
}

.caixa-relatorio{
    height: 12vh;
    width: 30%;
    text-align: center;
    display: grid;
    align-items: center;
    font-size: 1.8em;
    border: 1px solid rgb(0, 188, 41);
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.5s;
    background-color: #018b12;
    background-image: linear-gradient(43deg, #058314 0%, #7eff2d 46%, #13cc70 100%);
    font-family: 'Poppins', sans-serif;


}
label{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.2em;
    margin-right: 1em;
}
.caixa-relatorio:hover{
    -webkit-transform: scale(1.2);
    transform: scale(1.1);
}