label{
    font-size: 1.4em;
    margin-left: 0.5em;
    
}
.container-form-cadastro{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}

.bloco {
    display: flex;
    flex-direction: column;
    width: 30%;
    
}
.bloco label{
    display: flex;
    flex-direction: column;
    
}

