
.corpo-cadastro {
    background-color: white;
    margin-left: 2.5%;
    height: 95%;
    width: 95%;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1vh;
    overflow: auto; 
    margin-bottom: 20%;
  }
  
  .container-cadastro {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-shrink: 1;
    min-width: 0;
    width: 100%; /* Definir a largura para evitar estourar fora do corpo-cadastro */
  }
  
  .bloco12 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-grow: 1;
    width: 100%; /* Definir a largura para ocupar todo o espaço disponível */
    max-width: 50%; /* Definir uma largura máxima para evitar que ocupe mais de 50% */
  }
  
  .bloco34 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%; /* Definir a largura para ocupar todo o espaço disponível */
    max-width: 50%; /* Definir uma largura máxima para evitar que ocupe mais de 50% */
  }
  
  .identificacao{
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 100%;
  }  
  .endereco {
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 100%;
  }
  .contato {
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 100%;
  }
  
  .botoes {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    width: 100%;
  }
  .container-botao {
    width: 100%;
  }
  h1{
    margin-top: 1.5em;
  }
  /* Estilo base para inputs e select */
input[type="text"],
input[type="number"],
input[type="password"],
select {
  padding: 10px;
  border: 1px solid gray;
  border-radius: 5px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  color: #333;
  background-color: white;
  transition: border-color 0.3s ease;
}
#especialidades {
    margin: 0;
    width: 300%;
    height: 55%;
  }

/* Estilo quando o input ou select está em foco */
input[type="text"]:focus,
input[type="number"]:focus,
input[type="password"]:focus,
select:focus {
  outline: none;
  border-color: #58b2dc;
  box-shadow: 0 0 5px rgba(88, 178, 220, 0.5);
}

/* Estilo quando o input ou select está em hover */
input[type="text"]:hover,
input[type="number"]:hover,
input[type="password"]:hover,
select:hover {
  border-color: #58dc79;
}

/* Estilo para as opções do select */
select option {
  padding: 10px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  color: #333;
  background-color: white;
}

/* Estilo para a seta para baixo do select */
select::-ms-expand {
  display: none; /* Remover a seta padrão do Internet Explorer */
}

/* Estilo para rótulos */
label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
  }
  
  /* Estilo para rótulos quando o input ou select está em foco */
  input:focus + label,
  select:focus + label {
    color: #58b2dc;
  }
  
  /* Estilo para rótulos quando o input ou select está preenchido */
  input:valid + label,
  select:valid + label {
    color: #58dc79;
  }
  
  /* Estilo para rótulos quando o input ou select está em hover */
  input:hover + label,
  select:hover + label {
    color: #58dc79;
  }
  h3 {
    font-size: 1.3em;
    font-weight: bold;
    color: #333;
    margin-top: 15px;
    margin-bottom: 10px;
  }

  input[type="date"] {
    /* Estilos personalizados */
    padding: 10px;
    border: 1px solid gray;
    border-radius: 5px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #333;
    background-color: white;
    transition: border-color 0.3s ease;
  }
  
  /* Estilo quando o input do tipo date está em foco */
  input[type="date"]:focus {
    outline: none;
    border-color: #58b2dc;
    box-shadow: 0 0 5px rgba(88, 178, 220, 0.5);
  }
  
  /* Estilo quando o input do tipo date está em hover */
  input[type="date"]:hover {
    border-color: #58dc79;
  }
  
  /* Estilo para rótulos associados ao input do tipo date */
  input[type="date"] + label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
  }
  
  /* Estilo para rótulos associados ao input do tipo date quando o input está em foco */
  input[type="date"]:focus + label {
    color: #58b2dc;
  }
  
  /* Estilo para rótulos associados ao input do tipo date quando o input está preenchido */
  input[type="date"]:valid + label {
    color: #58dc79;
  }
  
  /* Estilo para rótulos associados ao input do tipo date quando o input está em hover */
  input[type="date"]:hover + label {
    color: #58dc79;
  } 
  input[type="time"] {
    padding: 10px;
    border: 1px solid gray;
    border-radius: 5px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #333;
    background-color: white;
    transition: border-color 0.3s ease;
  }
  
  /* Estilo quando o input do tipo time está em foco */
  input[type="time"]:focus {
    outline: none;
    border-color: #58b2dc;
    box-shadow: 0 0 5px rgba(88, 178, 220, 0.5);
  }
  
  /* Estilo quando o input do tipo time está em hover */
  input[type="time"]:hover {
    border-color: #58dc79;
  }
  
  /* Estilo para rótulos associados ao input do tipo time */
  input[type="time"] + label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
  }
  
  /* Estilo para rótulos associados ao input do tipo time quando o input está em foco */
  input[type="time"]:focus + label {
    color: #58b2dc;
  }
  
  /* Estilo para rótulos associados ao input do tipo time quando o input está preenchido */
  input[type="time"]:valid + label {
    color: #58dc79;
  }
  
  /* Estilo para rótulos associados ao input do tipo time quando o input está em hover */
  input[type="time"]:hover + label {
    color: #58dc79;
  }