.container-cadastro {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

label {
  font-weight: bold;
}

.status {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.status-options {
  display: flex;
  flex-direction: row;
}

.status-option {
  display: flex;
  align-items: center;
}

.botaoproc {
  display: flex;
  justify-content: flex-end;
  width: 100vh;
}

.radio-buttons {
  display: flex;
}
