.status {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
  }
  
  .inputAtivo,
  .inputInativo {
    margin-right: 5px;
  }
  .especialidade{
    margin: 0;
    width: 5%;
    height: 20%;
  }
.botoesproc{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    width: 50%;
}
select {
  padding: 0;
}