.add-botão{
    border-radius: 10px;
    margin-right: 2.5%;
    margin-left: 1.5%;
    width: 20%;
    height: 10vh;
    font-size: 2vh;
    cursor: pointer;
    margin-top: 1.5%;
    background-color: #9cff8b;
    background-image: linear-gradient(45deg, #9cff8b 0%, #28a200 52%, #5dffc3 90%);
        border: 2px solid;
        border-radius: 10px;
        font-family: 'Poppins', sans-serif;
}
