.pesquisa-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pesquisa-input {
  width: 80%;
  height: 7vh;
  border: 2px solid #ccc;
  border-radius: 10px;
  font-size: 1em;
  background-color: #f8f8f8;
  padding: 10px;
  outline: none;
  transition: border-color 0.3s ease;
}

.pesquisa-input:focus {
  border-color: #5dffc3;
}

@media (max-width: 768px) {
  .pesquisa-input {
    width: 90%;
  }
}