.botao{border-radius: 10px;
    margin-right: 2.5%;
    margin-left: 1.5%;
    width: 15%;
    height: 6vh;
    font-size: 2.2vh;
    cursor: pointer;
    margin-top: 1.5%;
}
.container-botao{
    width: 65%;
}