.container-principal-agenda{
    background-color: white;
    margin-top: 1vh;
    margin-left: 3%;
    border: 2px solid;
    border-radius: 10px;
    width: 50%;
    height: 80vh;
    display: grid;
}

.container-principal-agenda-cabeçalho{
    border-bottom: 2px solid gray;
    height: 15vh;
    text-align: center;
    font-size: 1.25em;
}

.container-principal-agenda-conteudo{
    height: 65vh;
}

.agenda-barra-de-pesquisa{
    width: 100%;
    padding-left: 8%;
    padding-bottom: 2%;
}

.agenda-horarios-info{
    display: flex;
    font-size: 1.25em;
    padding-left: 5%;
}

.agenda-horarios-info-hora {
    width: 30%;
    text-align: center;
    border-right: 1px solid gray;
}

.agenda-horarios-info-nome{
    width: 50%;
    padding-left: 3%;
}

.agenda-horarios-info:hover{
    background-color: rgb(179, 179, 179);
    cursor: pointer;
}





