.container{
    display: flex;
    align-items: flex-end;
}

.conteudo-principal{
    background-color: gray;
    margin-left: 20%;
    width: 80%;
    height: 100vh;
    display: grid;
    align-items:stretch;
}

.cabeçalho-principal{
    background-color: green;
    width: 100%;
    height: 15vh;
    display: grid;
    align-items: flex-end;
}

.cabeçalho-principal h1{
    font-size: 2em; 
    padding-left: 10%;
}

.container-principal-central{
    background-color: white;
    margin-top: 1vh;
    margin-left: 5%;
    border: 2px solid;
    border-radius: 10px;
    width: 90%;
    height: 80vh;
    display: grid;
    align-items:stretch;
}

.cabeçalho-central{
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid gray;
}

.conteudo-principal-central{
    height: 65vh;
}

a{
    all: unset;
    text-decoration: none;
    color: black;
}
