.container{
    display: flex;
    align-items: flex-end;
   
background-image: linear-gradient( 76.3deg,  rgba(44, 62, 78, 0.616) 12.6%, rgba(69, 103, 131, 0.593) 82.8% );}

.conteudo-principal{

    margin-left: 20%;
    width: 80%;
    height: 100vh;
    display: grid;
    align-items:stretch;
}

.cabeçalho-principal{
    background-color: #27bb00;
    background-image: linear-gradient(160deg, #27bb00 0%, #3c9a8d 100%);
    width: 100%;
    height: 15vh;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: green;
    display: grid;
    align-items: flex-end;
    margin-bottom: 1.5em;
   
}

.cabeçalho-principal h1{
    font-size: 2.2em; 
    padding-left: 10%;
    color: black;
    margin-bottom: 1em;
}

.container-principal-central{

    background-color: white;
    margin-top: 1vh;
    margin-left: 5%;
    border: 2px solid;
    border-radius: 10px;
    width: 90%;
    height: 80vh;
    display: grid;
    align-items:stretch;

}

.cabeçalho-central{
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid gray;
}

.conteudo-principal-central{
    height: 65vh;
}

a{
    all: unset;
    text-decoration: none;
    color: black;
}
